{% extends 'base.html' %}

{% block title %} Публикация {{ blogs.title }} {% endblock %}

{% block content %}

<div class="row text-center mt-2">
    <p> Читайте о публикации подробнее:</p>
    <ul class="list-group">
        <li class="list-group-item">{{ blogs.title }}</li>
        <li class="list-group-item">Описание: {{ blogs.contents }}</li>
        <li class="list-group-item">Изображение {{ blogs.preview }}
            <img src="{{ blogs.photo.url }}" alt="{{ blogs.title }}">
        </li>
        <li class="list-group-item">Дата создания: {{ blogs.created_at }}</li>
        <a href="{% url 'blogs:publication_edit' blogs.pk %}" class="btn btn-secondary">Редактировать</a>
        <a href="{% url 'blogs:publication_delete' blogs.pk %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'blogs:publication_list' %}" class="btn btn-primary">Вернуться к списку</a>

    </ul>
</div>
{% endblock %}