{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="row mt-5 pt-5">
    <h1 class="text-center pb-5"> Контакты </h1>
</div>
<div class="row text-center mt-2">
    <div class="col m-5 mt-0 p-5">
        <form class="m-5 mt-0">
            <div class="mb-3">
                <h3>Имя</h3>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <h3>Почта</h3>
                <div class="input-group mb-3">
                    <span class="input-group-text">@</span>
                    <div class="form-floating">
                        <input type="email" class="form-control" placeholder="xxxx@xxxx.xxx">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Сообщение</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    <div class="col m-5 mt-0 ms-0 p-5 text-start">
        <div class="mb-5 pb-5 mt-5">
            <h2>Наши контакты</h2>
            <p>Далее будет какой-то текст</p>
            <p>
                (Что сюда вставлять не сказали, поэтому будет поднятие настроения)
                Мне в жизни очень повезло — моя судьба одарила меня прекрасным наставником в Вашем лице!
                Вы очень чуткий человек и самый настоящий виртуоз своего дела. Хочу поблагодарить Вас за безграничное
                терпение, редкостное умение донести нужную информацию и, что очень и очень важно, за индивидуальный
                подход абсолютно к каждому воспитаннику. Всех Вам благ!
            </p>
        </div>


    </div>

</div>
{% endblock %}
