{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row mt-5 pt-5">
    <h1 class="text-center"> Главная </h1>
    <h6 class="text-center text-secondary"> Вы находитесь на сайте, предназнаенном для продажи товаров.  </h6>
</div>
<div>Список всех товаров</div>
<div class="container mt-5">
    <div class="card">
        {% for product in products %}
        <div class="card-header">
            {{ product.name }}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ product.price }}</h4>
            <p class="card-text">{{ product.description |truncatechars:100 }}</p>
            <a href="#" class="btn btn-primary">Купить!</a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
