{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row mt-5 pt-5">
    <h1 class="text-center"> Главная </h1>
    <h5 class="text-center text-secondary"> Вы находитесь на сайте, предназнаенном для продажи товаров.  </h5>
    {% if user.is_authenticated %}
        <h5 class="text-center text-secondary">Добро пожаловать, {{ user.username }}</h5>
    {% else %}
        <h5 class="text-center text-secondary"> Для полного доступа к возможностям приложения не забудьте зарегистрироваться</h5>
    {% endif %}
</div>
<div>Список всех товаров</div>
<div class="container mt-5">
    <div class="card">
        {% for product in products %}
        <div class="card-header">
            {% if user.is_authenticated %}
                <a href="{% url 'catalog:product_detail' product.pk %}">{{ product.name }}</a>
            {% else %}
                <a href="{% url 'catalog:error_registrations' %}">{{ product.name }}</a>
            {% endif %}
            <img src="{{ catalog.photo.url }}">
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ product.price }}</h4>
            <p class="card-text">{{ product.description |truncatechars:100 }}</p>
            <a href="#" class="btn btn-primary">Купить!</a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
