{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row mt-5 pt-5">
          <h1 class="text-center"> Главная </h1>
            <h6 class="text-center text-secondary"> Вы находитесь на сайте, предназнаенном для продажи товаров.  </h6>
        </div>
        <div class="row text-center mt-2">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Товар
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">$ Стоимость</h4>
                        <p class="card-text">Описание товара</p>
                        <a href="#" class="btn btn-primary">Купить!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Товар
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">$ Стоимость</h4>
                        <p class="card-text">Описание товара</p>
                        <a href="#" class="btn btn-primary">Купить!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Товар
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">$ Стоимость</h4>
                        <p class="card-text">Описание товара</p>
                        <a href="#" class="btn btn-primary">Купить!</a>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}
